<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" *ngIf="userDetails">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="4" scope="row" class="text-center">Votre profil</th>
                    </tr>
                </thead>
            </table>


            <form #profilForm="ngForm" (ngSubmit)="updateProfile(profilForm)">
                <div class="form-group">
                    <label for="fullname">Nom complet</label>
                    <input type="text" class="form-control" id="fullname" aria-describedby="help"
                        placeholder="Nom complet..." required #fullname="ngModel" [(ngModel)]="userDetails.fullName"
                        name="fullName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse email</label>
                    <input required type="text" class="form-control" id="exampleInputEmail1" placeholder="Email..."
                        #email="ngModel" [(ngModel)]="userDetails.email" name="email">
                </div>
                <div class="form-group">
                        <label for="exampleInputFamily1">Famille</label>
                        <input required type="text" class="form-control" id="exampleInputFamily1" placeholder="Famille..."
                            #family="ngModel" [(ngModel)]="userDetails.family" name="family">
                </div>
                <div class="form-group">
                        <label for="exampleInputAge1">Age</label>
                        <input required type="text" class="form-control" id="exampleInputAge1" placeholder="Age..."
                            #age="ngModel" [(ngModel)]="userDetails.age" name="age">
                </div>
                <div class="form-group">
                        <label for="exampleInputRace1">Race</label>
                        <input required type="text" class="form-control" id="exampleInputRace1" placeholder="Race..."
                            #race="ngModel" [(ngModel)]="userDetails.race" name="race">
                </div>
                <div class="form-group">
                        <label for="exampleInputFood1">Nourriture</label>
                        <input required type="text" class="form-control" id="exampleInputFood1" placeholder="Nourriture"
                            #food="ngModel" [(ngModel)]="userDetails.food" name="food">
                </div>


                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

                <input class="btn btn-danger" type="button" (click)="onLogout()" value="Déconnexion" />
                <input type="button" class="btn btn-success" routerLink="/contact" value="Contact">
                <button class="btn btn-custom" routerLink='/chat'>Accèder au Chat secret</button>
            </form>
     

        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<div class="alert alert-success" role="alert" *ngIf="success">
    <p>Modification effectuée !</p>
</div>