<div class="container">
    <div class="row">
        <div class="col-12">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4" scope="row" class="text-center">Message privé avec {{this.chatService.contactEmail}}  <br> <small>  RoomID: {{this.chatService.room}} </small> </th>
                            </tr>
                        </thead>
                    </table>

            <ul id="messages" class="list-group">
                <li class="list-group-item" *ngFor="let message of messageArrayDB"> <strong>{{message.sender }}
                    </strong> :
                    {{message.message}} <small class="float-right">{{message.date  | date: 'dd/MM/yyyy hh:mm'}}</small></li>
                <li class="list-group-item" *ngFor="let message of messageArray">{{message.user}} : {{message.message}}
                </li>

            </ul>
            <span><i *ngIf="isTyping" class="isTyping">{{ usernameTyping }} est en train d'écrire...</i></span>
            <div class="chat form-container">
                <form action="">
                    <div class="form-group">
                        <input id="m" (keypress)="typing()" [(ngModel)]="message" name="message"
                            (keyup.enter)="sendMessage()" type="text" placeholder="Message..." autocomplete="off"
                            class="form-control" />
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-custom" (click)="sendMessage()">Envoyer</button>
                        <input class="btn btn-danger" type="button" (click)="onLogout()" value="Déconnexion" />
                        <input type="button" class="btn btn-success" routerLink="/profil" value="Profil">
                        <input type="button" class="btn btn-info" routerLink="/contact" value="Contact">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>