<div class="container">
    <div class="row">
        <div class="col-6 offset-4">
                <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4" scope="row" class="text-center"> Votre carnet d'adresse </th>
                            </tr>
                        </thead>
                    </table>



            <div #contactsList>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let contact of contacts">{{ contact.contact }} 
                        <button
                            class="btn btn-danger" onclick="return false;"
                            (click)="deleteOne(contact)">X</button> <button type="button" routerLink='/chat' (click)="defineContactsRoom(contact)" class="btn btn-custom">Chat</button></li>
                </ul>
            </div>


            <div class="form-group" *ngIf="possibleContacts">
                <label for="exampleFormControlSelect1"><strong>Ajouter un contact</strong> </label>
                <select [(ngModel)]="selected" class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let cc of possibleContacts" value="{{cc}}">{{cc}}</option>

                </select>
                <button (click)="addContact(selected)" class="btn btn-success">
                    +
                </button>
            </div>
            <form action="" (submit)="addExterneContact(email)">
                <div class="form-group">
                    <label for="externalContact"> <strong>Ajouter un contact extérieur</strong> </label>
                    <input name="externeContact" class="form-control" type="text" id="externalContact"
                        [(ngModel)]="email">
                    <button class="btn btn-success"> + </button>
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-6 offset-4 col-sm-12">
            <div class="btn-group" role="group">
                <input class="btn btn-danger" type="button" (click)="onLogout()" value="Déconnexion" />
                <input type="button" class="btn btn-info" routerLink="/profil" value="Profil">
            </div>

        </div>
    </div>
</div>