<div class="container">
    <div class="row">
        <div class="col-6 offset-4">

            <div #contactsList>
                <ul class="list-group">
                    <h1 class="text-center">Votre carnet d'adresse</h1>
                    <li class="list-group-item" *ngFor="let contact of contacts">{{ contact.contact }} <button
                            class="btn btn-danger" onclick="return false;"
                            (click)="deleteOne(contact)">Supprimer</button></li>
                </ul>
            </div>


            <div class="form-group" *ngIf="possibleContacts">
                <label for="exampleFormControlSelect1">Choissisez un contact</label>
                <select [(ngModel)]="selected" class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let cc of possibleContacts" value="{{cc}}">{{cc}}</option>

                </select>
                <button (click)="addContact(selected)" class="btn btn-secondary">
                    +
                </button>
            </div>
            <form action="" (submit)="addExterneContact(email)">
                <div class="form-group">
                    <label for="externalContact">Ajouter un contact extérieur</label>
                    <input name="externeContact" class="form-control" type="text" id="externalContact"
                        [(ngModel)]="email">
                    <button class="btn btn-primary"> + </button>
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-6 offset-4 col-sm-12">
            <div class="btn-group" role="group">
                <input class="btn btn-danger" type="button" (click)="onLogout()" value="Déconnexion" />
                <input type="button" class="btn btn-info" routerLink="/profil" value="Profil">
                <button class="btn btn-custom" routerLink='/chat'>Accèder au Chat secret</button>
            </div>

        </div>
    </div>
</div>